
@charset "UTF-8";

*{
    box-sizing:border-box;
}





body {
position: relative;
margin: 0;
background: white;
display: grid;
grid-template-columns:
[left] 20px [main] 1fr [end] 20px [right];
grid-template-rows: [top] auto [footer] auto [bottom];

}


header {
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: inherit;
    grid-template-rows: auto auto;
}

header img {
    grid-column: left/right;
    grid-row: 2;
    display: block;
    width: 100%;
    max-height: 100vh;
    padding: 20px;
}

.top-title0 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50px);
    width: 500px;
    height: 500px;
    background: rgba(255,255,255,.5);
    font-size: 50px;
}

.top-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50px);
    width: 500px;
    height: 500px;
    background: rgba(255,255,255,0);
    font-size: 50px;
}



header main {
    grid-column-start: main;
    grid-column-end: end;
    grid-row: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(252, 182, 217, 0.5);
    padding: 10px;
    border-radius: 10px;
}

h1,h2 {
    color: black;
    text-align: center;
}



footer {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: footer;
    grid-row-end: bottom;
    text-align: center;
    background: white;
    color: black;
    padding: 10px 0;
}


